body {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(33,30,38,1.00);
  background-color: rgba(257,255,262,1.00);
}

pre {
  white-space: pre-wrap;
}

button {
  background-color: rgba(102,119,187,1.00);
  border: 0;
  padding: 0.5rem;
  font-size: 1.3rem;
  box-sizing: border-box;
  color: rgba(257,255,262,1.00);
}

button:active {
  background-color: rgba(187,204,272,1.00);
}

button:disabled {
  background-color: rgba(206,204,211,1.00);
  filter: grayscale(100%);
}

.app {
  margin: 2rem;
}

.path {
  font-size: 1.3rem;
  background-color: rgba(239,237,244,1.00);
  padding: 0.5rem;
  box-sizing: border-box;
}

.rolodex {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  margin: 0.5rem 0 1rem 0;
  font-size: 2.5rem;
}

.header .brand {
  flex: 0 0 350px;
  background-color: rgba(102,119,187,1.00);
  color: rgba(252,249,257,1.00);
  font-size: 2.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.header .search {
  flex: 1 1 100px;
  border: 1px solid rgba(102,119,187,1.00);
  margin-left: 1rem;
  padding: 0 1rem;
  font-size: 2.5rem;
}

.name-list-wrapper {
  flex: 0 1 350px;
}

.name-list-wrapper .buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.name-list-wrapper .buttons * {
  flex: 0 0 49%;
}

.name-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.name-list button {
  margin-bottom: 0.5rem;
}

.name-list .initial:first-child {
  border: 0;
}

.name-list .initial {
  display: flex;
  flex: 0 0 ;
  flex-direction: row;
  background-color: rgba(232,229,237,1.00);
  border-top: 1px solid rgba(53,51,58,0.08);
}

.name-list .initial .letter {
  flex: 0 0 2em;
  padding-left: 1em;
  padding-top: 0.2em;
}

.name-list .initial .contacts {
  flex: 1 1 300px;
  background-color: rgba(244,242,249,1.00);
  padding: 0.1em 0;
}

.name-list .initial .contacts .contact {
  padding: 0.1em 1em;
  cursor: pointer;
}

.card {
  flex: 2 2 500px;
  background-color: rgba(257,255,262,1.00);
  padding-left: 1rem;
}

.card .card-entry {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-bottom: 1px solid rgba(232,229,237,1.00);
  line-height: 2;
}

.card .card-entry .label {
  flex: 0 0 120px;
  padding-right: 1em;
  justify-self: center;
}

.card .card-entry .value {
  flex: 5 5 500px;
  padding-left: 1em;
}

.card button.clear {
  margin-top: 0.5rem;
  margin-right: 0;
  float: right;
}

.card button {
  margin-right: 0.5rem;
}

.card .rud-butts {
  display: flex;
  margin-bottom: 0.5rem;
}

.card .uuid {
  color: rgba(206,204,211,1.00);
  font-size: 1rem;
  line-height: 4;
}

.card pre {
  color: rgba(206,204,211,1.00);
  font-size: 1.5rem;
}

.selected {
  background-color: rgba(94,91,99,1.00);
  color: rgba(247,244,252,1.00);
}

.color.string {
  color: #3e999f;
}

.color.keyword {
  color: #4271ae;
}

.color.bracket {
  color: #eab700;
}

.color.curly {
  color: #718c00;
}

.uuid {
  color: #3e9e74;
}

.uuid .tag {
  font-weight: bold;
}